@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 100 100 100;
    --foreground: 255 255 255;
    --muted: 200 200 200;
    --accent: 192 192 192;
  }
}

html {
  scroll-behavior: auto !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  overflow-anchor: none;
  background: #050505;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.grid-overlay {
  background-image:
    linear-gradient(rgba(133, 87, 87, 0.11) 1px, transparent 1px),
    linear-gradient(90deg, rgba(133, 87, 87, 0.11) 1px, transparent 1px);

  background-size: 200px 200px;

  background-position: center;
}
